.banner {
	background: url(https://scontent-lax3-1.xx.fbcdn.net/v/t31.0-8/23213298_128755171176807_7649637594963973686_o.jpg?_nc_cat=104&_nc_sid=e3f864&_nc_ohc=FSP1A1kl6ZMAX__3lxn&_nc_ht=scontent-lax3-1.xx&oh=38b6d616ff093855a1a36f3575831f3f&oe=5F7DAF7D) center center;
	height: 65vh;
	position: relative;
	background-size: cover;
}

.banner_info {
	background-color: black;
	color: white;
	padding-top: 24vh;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 40px;
	width: 300px;

}

.banner_info > button {
	background-color: #ff4d4d;
	color: white;
	text-transform: inherit;
	margin-top: 20px;
	font-weight: 600;

}

.banner_info > h5 {
	margin-top: 10px;
}

.banner_info > button:hover {
	background-color: white;
	color: #ff4d4d;
}

.banner_searchButton {
	background-color: white !important;
	font-weight: 900 !important;
	text-transform: inherit !important;
	color: #ff4d4d !important;

}

.banner_search {
	display: flex;
	flex-direction: column;
}