.header_icon {
	object-fit: contain;
	height: 100px;	
	margin-left:20px;

}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	background-color: #FFFFFF;
	z-index: 100;
	width: 100%;


}

.header_center {
	display: flex;
	flex: 1;
	align-items: center;
}

.header_right {
	display: flex;
	align-items: center;
}