.header_icon {
	object-fit: contain;
	height: 100px;	
	margin-left:20px;

}

.header {
	display: flex;
	justify-content: space-between;
}

.header_center {
	display: flex;
	flex: 1;

	align-items: center;
}

.header_right {
	display: flex;
	align-items: center;
}